<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.net/NetTiersMap.xsd">
	<View Id="vw_CallableLeadsWithCalls" EntityName="VwCallableLeadsWithCalls" Owner="dbo" PropertyName="VwCallableLeadsWithCalls" FieldName="_vwCallableLeadsWithCalls" FriendlyName="Vw Callable Leads With Calls" IncludeInOutput="true">
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
		<Column Id="First Name" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Last Name" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="Call Start Time" CSType="System.DateTime?" PropertyName="CallStartTime" FieldName="_callStartTime" FriendlyName="Call Start Time" IncludeInOutput="true" />
		<Column Id="HOUR" CSType="System.Int32?" PropertyName="Hour" FieldName="_hour" FriendlyName="Hour" IncludeInOutput="true" />
		<Column Id="DAYTYPE" CSType="System.String" PropertyName="Daytype" FieldName="_daytype" FriendlyName="Daytype" IncludeInOutput="true" />
		<Column Id="Time Zone" CSType="System.String" PropertyName="TimeZone" FieldName="_timeZone" FriendlyName="Time Zone" IncludeInOutput="true" />
		<Column Id="Created Time" CSType="System.DateTime?" PropertyName="CreatedTime" FieldName="_createdTime" FriendlyName="Created Time" IncludeInOutput="true" />
	</View>
	<View Id="vw_CallableLEadsWithCallsAndHourAdj" EntityName="VwCallableLeadsWithCallsAndHourAdj" Owner="dbo" PropertyName="VwCallableLeadsWithCallsAndHourAdj" FieldName="_vwCallableLeadsWithCallsAndHourAdj" FriendlyName="Vw Callable Leads With Calls And Hour Adj" IncludeInOutput="true">
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
		<Column Id="First Name" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Last Name" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="Call Start Time" CSType="System.DateTime?" PropertyName="CallStartTime" FieldName="_callStartTime" FriendlyName="Call Start Time" IncludeInOutput="true" />
		<Column Id="HOUR" CSType="System.Int32?" PropertyName="Hour" FieldName="_hour" FriendlyName="Hour" IncludeInOutput="true" />
		<Column Id="DAYTYPE" CSType="System.String" PropertyName="Daytype" FieldName="_daytype" FriendlyName="Daytype" IncludeInOutput="true" />
		<Column Id="Time Zone" CSType="System.String" PropertyName="TimeZone" FieldName="_timeZone" FriendlyName="Time Zone" IncludeInOutput="true" />
		<Column Id="HOUR_ADJ" CSType="System.Int32?" PropertyName="HourAdj" FieldName="_hourAdj" FriendlyName="Hour Adj" IncludeInOutput="true" />
		<Column Id="Created Time" CSType="System.DateTime?" PropertyName="CreatedTime" FieldName="_createdTime" FriendlyName="Created Time" IncludeInOutput="true" />
	</View>
	<View Id="vw_CallableLeadsWithCallsAndPeriod" EntityName="VwCallableLeadsWithCallsAndPeriod" Owner="dbo" PropertyName="VwCallableLeadsWithCallsAndPeriod" FieldName="_vwCallableLeadsWithCallsAndPeriod" FriendlyName="Vw Callable Leads With Calls And Period" IncludeInOutput="true">
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
		<Column Id="First Name" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Last Name" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="Call Start Time" CSType="System.DateTime?" PropertyName="CallStartTime" FieldName="_callStartTime" FriendlyName="Call Start Time" IncludeInOutput="true" />
		<Column Id="HOUR" CSType="System.Int32?" PropertyName="Hour" FieldName="_hour" FriendlyName="Hour" IncludeInOutput="true" />
		<Column Id="DAYTYPE" CSType="System.String" PropertyName="Daytype" FieldName="_daytype" FriendlyName="Daytype" IncludeInOutput="true" />
		<Column Id="Time Zone" CSType="System.String" PropertyName="TimeZone" FieldName="_timeZone" FriendlyName="Time Zone" IncludeInOutput="true" />
		<Column Id="HOUR_ADJ" CSType="System.Int32?" PropertyName="HourAdj" FieldName="_hourAdj" FriendlyName="Hour Adj" IncludeInOutput="true" />
		<Column Id="PERIOD" CSType="System.String" PropertyName="Period" FieldName="_period" FriendlyName="Period" IncludeInOutput="true" />
		<Column Id="Created Time" CSType="System.DateTime?" PropertyName="CreatedTime" FieldName="_createdTime" FriendlyName="Created Time" IncludeInOutput="true" />
	</View>
	<View Id="vw_CallsByUser" EntityName="VwCallsByUser" Owner="dbo" PropertyName="VwCallsByUser" FieldName="_vwCallsByUser" FriendlyName="Vw Calls By User" IncludeInOutput="true">
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
		<Column Id="Call Duration (in seconds)" CSType="System.Double?" PropertyName="SafeNameCallDurationInSeconds" FieldName="_safeNameCallDurationInSeconds" FriendlyName="Call Duration(in Seconds)" IncludeInOutput="true" />
		<Column Id="Call Purpose" CSType="System.String" PropertyName="CallPurpose" FieldName="_callPurpose" FriendlyName="Call Purpose" IncludeInOutput="true" />
		<Column Id="Call Result" CSType="System.String" PropertyName="CallResult" FieldName="_callResult" FriendlyName="Call Result" IncludeInOutput="true" />
		<Column Id="Call Type" CSType="System.String" PropertyName="CallType" FieldName="_callType" FriendlyName="Call Type" IncludeInOutput="true" />
		<Column Id="Call Start Time" CSType="System.DateTime?" PropertyName="CallStartTime" FieldName="_callStartTime" FriendlyName="Call Start Time" IncludeInOutput="true" />
		<Column Id="USER_ID" CSType="System.String" PropertyName="UserId" FieldName="_userId" FriendlyName="User Id" IncludeInOutput="true" />
		<Column Id="First Name" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Last Name" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Call Owner" CSType="System.String" PropertyName="CallOwner" FieldName="_callOwner" FriendlyName="Call Owner" IncludeInOutput="true" />
		<Column Id="Call Owner Id" CSType="System.String" PropertyName="CallOwnerId" FieldName="_callOwnerId" FriendlyName="Call Owner Id" IncludeInOutput="true" />
	</View>
	<View Id="vw_LastCallCreated" EntityName="VwLastCallCreated" Owner="dbo" PropertyName="VwLastCallCreated" FieldName="_vwLastCallCreated" FriendlyName="Vw Last Call Created" IncludeInOutput="true">
		<Column Id="last call created" CSType="System.DateTime?" PropertyName="LastCallCreated" FieldName="_lastCallCreated" FriendlyName="Last Call Created" IncludeInOutput="true" />
	</View>
	<View Id="vw_LastEmailCreated" EntityName="VwLastEmailCreated" Owner="dbo" PropertyName="VwLastEmailCreated" FieldName="_vwLastEmailCreated" FriendlyName="Vw Last Email Created" IncludeInOutput="true">
		<Column Id="LastEmailCreated" CSType="System.String" PropertyName="LastEmailCreated" FieldName="_lastEmailCreated" FriendlyName="Last Email Created" IncludeInOutput="true" />
	</View>
	<View Id="vw_LeadCallCounts" EntityName="VwLeadCallCounts" Owner="dbo" PropertyName="VwLeadCallCounts" FieldName="_vwLeadCallCounts" FriendlyName="Vw Lead Call Counts" IncludeInOutput="true">
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
		<Column Id="Last Name" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="First Name" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Call Count" CSType="System.Int32?" PropertyName="CallCount" FieldName="_callCount" FriendlyName="Call Count" IncludeInOutput="true" />
		<Column Id="Created Time" CSType="System.DateTime?" PropertyName="CreatedTime" FieldName="_createdTime" FriendlyName="Created Time" IncludeInOutput="true" />
		<Column Id="Lead Status" CSType="System.String" PropertyName="LeadStatus" FieldName="_leadStatus" FriendlyName="Lead Status" IncludeInOutput="true" />
		<Column Id="Rating" CSType="System.String" PropertyName="Rating" FieldName="_rating" FriendlyName="Rating" IncludeInOutput="true" />
		<Column Id="Lead Owner" CSType="System.String" PropertyName="LeadOwner" FieldName="_leadOwner" FriendlyName="Lead Owner" IncludeInOutput="true" />
	</View>
	<View Id="vw_LeadsWithCallableStatus" EntityName="VwLeadsWithCallableStatus" Owner="dbo" PropertyName="VwLeadsWithCallableStatus" FieldName="_vwLeadsWithCallableStatus" FriendlyName="Vw Leads With Callable Status" IncludeInOutput="true">
		<Column Id="Lead Status" CSType="System.String" PropertyName="LeadStatus" FieldName="_leadStatus" FriendlyName="Lead Status" IncludeInOutput="true" />
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
	</View>
	<View Id="vw_MANUAL_ReturnsList" EntityName="VwManualReturnsList" Owner="dbo" PropertyName="VwManualReturnsList" FieldName="_vwManualReturnsList" FriendlyName="Vw Manual Returns List" IncludeInOutput="true">
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
		<Column Id="First Name" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Last Name" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Lead Status" CSType="System.String" PropertyName="LeadStatus" FieldName="_leadStatus" FriendlyName="Lead Status" IncludeInOutput="true" />
	</View>
	<View Id="vw_MANUAL_SalesList" EntityName="VwManualSalesList" Owner="dbo" PropertyName="VwManualSalesList" FieldName="_vwManualSalesList" FriendlyName="Vw Manual Sales List" IncludeInOutput="true">
		<Column Id="LEADID" CSType="System.String" PropertyName="Leadid" FieldName="_leadid" FriendlyName="Leadid" IncludeInOutput="true" />
		<Column Id="First Name" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Last Name" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Lead Status" CSType="System.String" PropertyName="LeadStatus" FieldName="_leadStatus" FriendlyName="Lead Status" IncludeInOutput="true" />
	</View>
</NetTiersMap>
