<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SalesWorkflow.Data" type="SalesWorkflow.Data.Bases.NetTiersServiceSection, SalesWorkflow.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    	<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="SalesWorkflow.Data.ConnectionString" connectionString="Data Source=market_db.safeinhome.com;Initial Catalog=MarketingData;Persist Security Info=True;User ID=tim;Password=michael4131Q" />
	</connectionStrings>
	<SalesWorkflow.Data defaultProvider="SqlNetTiersProvider">
		<providers>
    <!--
    *** SqlClient Provider ***
    	connectionStringName: sqlclient connection string to the db
    	useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
    -->
      <add 
        name="SqlNetTiersProvider" 
        type="SalesWorkflow.Data.SqlClient.SqlNetTiersProvider, SalesWorkflow.Data.SqlClient"
        connectionStringName="SalesWorkflow.Data.ConnectionString"
        useStoredProcedure="false"
        providerInvariantName="System.Data.SqlClient"
        entityFactoryType="SalesWorkflow.Entities.EntityFactory"
		useEntityFactory="true"
		enableEntityTracking="false"
        enableMethodAuthorization="false"
        defaultCommandTimeout="30"
        />
		<!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/SalesWorkflow/SalesWorkflowServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="SalesWorkflow.Data.WebServiceClient.WsNetTiersProvider, SalesWorkflow.Data.WebServiceClient"
					url="/SalesWorkflowServices.asmx" />
			-->
		</providers>
	</SalesWorkflow.Data>
	<system.web>
		<pages theme="default">
			<controls>
				<add tagPrefix="data" namespace="SalesWorkflow.Web.Data" assembly="SalesWorkflow.Web"/>
				<add tagPrefix="data" namespace="SalesWorkflow.Web.UI" assembly="SalesWorkflow.Web"/>
			</controls>
		</pages>
		<httpModules>
			<add name="EntityTransactionModule" type="SalesWorkflow.Web.Data.EntityTransactionModule, SalesWorkflow.Web"/>
		</httpModules>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        <authentication mode="Windows" />
        -->
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
	  <sources>
		<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			filePath="entlib.config" />
	  </sources>
    </enterpriseLibrary.ConfigurationSource>
</configuration>
